input, button, h2, label{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}
.sign-up{
    width: 100%;
    margin: 0px auto;
    margin-top: 50px;
    padding: 20px;
}
.sign-up h2{
    text-align: center;
    margin-bottom: 20px;
}
.sign-up input{
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}
.sign-up input:focus{
    border: 1px solid #888;
}
.sign-up button {
    background: #5d8ffc;
    border: 1px solid #5d8ffc;
    color: #fff;
    border: 0px;
    font-size: 20px;
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}
.sign-up button:hover{
    background: #fff;
    color: #5d8ffc;
    border: 1px solid #5d8ffc;
    cursor: pointer;
}
.sign-up button:disabled{
    background: #8eb1ff;
    color: #fff;
    border: 1px solid #8eb1ff;
    cursor: not-allowed;
}
.sign-up form{
    margin-bottom: 10px;
}

@media(min-width: 800px){
    input, button, h2, label{
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
    }
    .sign-up{
        width: 400px;
        margin: 0px auto;
        margin-top: 50px;
        padding: 20px;
    }
    .sign-up h2{
        text-align: center;
        margin-bottom: 20px;
    }
    .sign-up input{
        display: block;
        border: 1px solid #ccc;
        border-radius: 5px;
        background: #fff;
        padding: 15px;
        outline: none;
        width: 100%;
        margin-bottom: 20px;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
    }
    .sign-up input:focus{
        border: 1px solid #888;
    }
    .sign-up button {
        background: #5d8ffc;
        border: 1px solid #5d8ffc;
        color: #fff;
        border: 0px;
        font-size: 20px;
        border-radius: 5px;
        padding: 15px;
        display: block;
        width: 100%;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
    }
    .sign-up button:hover{
        background: #fff;
        color: #5d8ffc;
        border: 1px solid #5d8ffc;
        cursor: pointer;
    }
    .sign-up button:disabled{
        background: #8eb1ff;
        color: #fff;
        border: 1px solid #8eb1ff;
        cursor: not-allowed;
    }
    .sign-up form{
        margin-bottom: 10px;
    }
}