<div class="home">
  <div class="card ibeacon">
    <div class="card-header">
      Add iBeacon
    </div>
    <div class="card-body">
      <form [formGroup]="ibeaconForm" (ngSubmit)="createiBeacon()">
        <label for="id">iBeacon ID</label>
        <input type="text" id="id" placeholder="Enter iBeacon ID..." formControlName="id" [(ngModel)]="ibeacon.id">
        <label for="name">iBeacon Name</label>
        <input type="text" id="name" placeholder="Enter iBeacon Name..." formControlName="name" [(ngModel)]="ibeacon.name">
        <label for="platform">เลือก Platforms</label>
        <select id="platform" [(ngModel)]="selectPlatform" formControlName="platform">
          <option selected hidden value="undefined">Select Platform</option>
          <option *ngFor="let platform of platforms" [value]="platform">{{platform}}</option>
        </select>
        <button type="submit" [disabled]="ibeaconForm.invalid">Submit</button>
      </form>
    </div>
  </div>

  <div class="card">
      <div class="card-header">
        รายการ iBeacon ที่ลงทะเบียน (iOS)
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th scope="col">iBeacon ID</th>
              <th scope="col">iBeacon Name</th>
              <th scope="col">Platforms</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of iBeacons; let i = index">
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>