<div class="home">
  <div class="card ibeacon">
    <div class="card-header">
      Add iBeacon
    </div>
    <div class="card-body">
      <form [formGroup]="ibeaconForm" (ngSubmit)="createiBeacon()">
        <label for="id">iBeacon ID</label>
        <input type="text" id="id" placeholder="Enter iBeacon ID..." formControlName="id" [(ngModel)]="ibeacon.id">
        <label for="name">iBeacon Name</label>
        <input type="text" id="name" placeholder="Enter iBeacon Name..." formControlName="name" [(ngModel)]="ibeacon.name">
        <label for="platform">เลือก Platforms</label>
        <select id="platform" [(ngModel)]="selectPlatform" formControlName="platform">
          <option selected hidden value="undefined">Select Platform</option>
          <option *ngFor="let platform of platforms" [value]="platform">{{platform}}</option>
        </select>
        <button type="submit" [disabled]="ibeaconForm.invalid">Submit</button>
      </form>
    </div>
  </div>

  <div class="card">
      <div class="card-header">
        iBeacon ที่ลงทะเบียน
      </div>
      <div class="card-body">
        <div class="display-ibeacon">
          <div class="android">
            <header>
              Android
            </header>
            <div class="circle-text">
              <p>{{iBeaconAndroid}}</p>
            </div>
            <button class="btn btn-success" data-toggle="modal" data-target="#androidViewiBeacon">ดูรายการ</button>
          </div>
          <div class="ios">
            <header>
              iOS
            </header>
            <div class="circle-text">
              <p>{{iBeaconiOS}}</p>
            </div>
            <button class="btn btn-secondary" data-toggle="modal" data-target="#iosViewiBeacon">ดูรายการ</button>
          </div>
        </div>
        <!-- <img id="android" src="https://bit.ly/2Dd09vb" alt="android"> -->
        <!-- <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th scope="col">iBeacon ID</th>
              <th scope="col">iBeacon Name</th>
              <th scope="col">Platforms</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of iBeacons; let i = index">
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>ios</td>
            </tr>
          </tbody>
        </table> -->
      </div>
    </div>
</div>


<!--iBeacon-display-android-->
<div class="modal fade" id="androidViewiBeacon" tabindex="-1" role="dialog" aria-labelledby="androidViewiBeacon" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="androidViewiBeacon">
          รายการ iBeacon (Android)
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let android of iBeaconsAndroid">
              <td>{{android.id}}</td>
              <td>{{android.name}}</td>
              <td>
                <button class="btn btn-danger" (click)="deleteiBeaconAndroid(android.id)">ลบ</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!--iBeacon-display-ios-->
<div class="modal fade" id="iosViewiBeacon" tabindex="-1" role="dialog" aria-labelledby="iosViewiBeacon" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="iosViewiBeacon">
          รายการ iBeacon (iOS)
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ios of iBeaconsiOS">
              <td>{{ios.id}}</td>
              <td>{{ios.name}}</td>
              <td>
                <button class="btn btn-danger" (click)="deleteiBeaconiOS(ios.id)">ลบ</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>