.home{
    height: 100%;
    /* border: 1px solid salmon; */
    margin: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}
.home .card{
    width: 100%;
    border-radius: 15px;
}
.home .card-header{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.home .card.ibeacon{
    margin-bottom: 25px;
}

form input,#course,#platform{
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    outline: none;
    width: 100%;
    margin-bottom: 15px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}
form input:focus{
    border: 1px solid #888;
}
form select:focus{
    border: 1px solid #888;
}
form button {
    margin: auto;
    background: #5d8ffc;
    border: 1px solid #5d8ffc;
    color: #fff;
    border: 0px;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    display: block;
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}
form button:hover{
    background: #fff;
    color: #5d8ffc;
    border: 1px solid #5d8ffc;
    cursor: pointer;
}
form button:disabled{
    background: #8eb1ff;
    color: #fff;
    border: 1px solid #8eb1ff;
    cursor: not-allowed;
}
/*More iBeacon Display*/
.display-ibeacon{
    display: block;
}
.display-ibeacon .android,.ios{
    display: block;
    width: 100%;
    height: 100%;
    /* border: 1px solid; */
    margin-bottom: 45px;
}
.display-ibeacon .android header{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 30px;
}
.display-ibeacon .ios header{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 30px;
}
.display-ibeacon .android .circle-text{
    margin: auto;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: #5d8ffc;
    color: #ffffff;
    margin-bottom: 20px;
}
.display-ibeacon .ios .circle-text{
    margin: auto;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: #5d8ffc;
    color: #ffffff;
    margin-bottom: 20px;
}
.display-ibeacon .android .circle-text p{
    height: 200px;
    width: 200px;
    display: table-cell;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
}
.display-ibeacon .ios .circle-text p{
    height: 200px;
    width: 200px;
    display: table-cell;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
}
.display-ibeacon .android button{
    display: flex;
    margin: auto;
    /* margin-bottom: 15px; */
}
.display-ibeacon .ios button{
    display: flex;
    margin: auto;
}

@media(min-width: 800px){
    .home{
        font-family: 'Nunito', sans-serif;
        margin: 20px;
        display: flex;
    }
    .home .card{
        width: 50%;
        border-radius: 15px;
    }
    .home .card.ibeacon{
        margin-right: 15px;
        margin-bottom: 0px;
    }
    .home .card-header{
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        font-size: 30px;
    }

    form input,#course,#platform{
        display: block;
        border: 1px solid #ccc;
        border-radius: 5px;
        background: #fff;
        padding: 10px;
        outline: none;
        width: 100%;
        margin-bottom: 15px;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
    }
    form input:focus{
        border: 1px solid #888;
    }
    form select:focus{
        border: 1px solid #888;
    }
    form button {
        margin: auto;
        background: #5d8ffc;
        border: 1px solid #5d8ffc;
        color: #fff;
        border: 0px;
        font-size: 20px;
        border-radius: 5px;
        padding: 10px;
        display: block;
        width: 150px;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
    }
    form button:hover{
        background: #fff;
        color: #5d8ffc;
        border: 1px solid #5d8ffc;
        cursor: pointer;
    }
    form button:disabled{
        background: #8eb1ff;
        color: #fff;
        border: 1px solid #8eb1ff;
        cursor: not-allowed;
    }

    .display-ibeacon{
        display: flex;
    }
    .display-ibeacon .android{
        border-right: 1px double;
    }
    .display-ibeacon .android,.ios{
        display: block;
        width: 100%;
        height: 100%;
        /* border: 1px solid; */
    }
    .display-ibeacon .android header{
        text-align: center;
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        font-size: 30px;
    }
    .display-ibeacon .ios header{
        text-align: center;
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        font-size: 30px;
    }
    .display-ibeacon .android .circle-text{
        margin: auto;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background: #5d8ffc;
        color: #ffffff;
        margin-bottom: 25px;
    }
    .display-ibeacon .ios .circle-text{
        margin: auto;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background: #5d8ffc;
        color: #ffffff;
        margin-bottom: 25px;
    }
    .display-ibeacon .android .circle-text p{
        height: 200px;
        width: 200px;
        display: table-cell;
        font-size: 60px;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        font-weight: 700;
        font-family: 'Nunito', sans-serif;
        /* font-family: 'Nunito', sans-serif;
        font-weight: 600;
        font-size: 25px;
        background: #5d8ffc;
        color: #ffffff; */
    }
    .display-ibeacon .ios .circle-text p{
        height: 200px;
        width: 200px;
        display: table-cell;
        font-size: 60px;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        font-weight: 700;
        font-family: 'Nunito', sans-serif;
    }
    .display-ibeacon .android button{
        display: flex;
        margin: auto;
    }
    .display-ibeacon .ios button{
        display: flex;
        margin: auto;
    }
    /* .circle-text {
        height: 200px;
        width: 200px;
        text-align: center;

        vertical-align: middle;
        border-radius: 50%;
        background: #000;
        color: #ffffff;
        font: 50px "josefin sans", arial;
    } */
}