*{
    font-family: 'Nunito', sans-serif; 
}
.course{
    font-family: 'Nunito', sans-serif;
    padding: 20px;
    /* border: 1px solid #5d8ffc; */
    display: block;
}
.card{
    /* margin: 20px; */
    width: 100%;
    /* display: flex; */
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccdcff;
}
.table{
    /* margin: 20px; */
    width: 100%;
    /* display: flex; */
}
/* .table tr:hover > td{
    background: #c7d9ff;
    cursor: pointer;
} */
.card .card-header{
    /* font-family: 'Nunito', sans-serif; */
    font-size: 20px;
    font-weight: 500;
    background: #ccdcff;;
}
form #id, #name, #group, #semester, #year{
    font-family: 'Nunito', sans-serif;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}
form label{
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}
form #id:focus{
    border: 1px solid #888;
}
form #name:focus{
    border: 1px solid #888;
}
form #group:focus{
    border: 1px solid #888;
}
form #semester:focus{
    border: 1px solid #888;
}
form #year:focus{
    border: 1px solid #888;
}

form button{
    background: #5d8ffc;
    border: 1px solid #5d8ffc;
    color: #fff;
    border: 0px;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
    display: block;
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    font-weight: 600;
}
form button:hover{
    background: #fff;
    color: #5d8ffc;
    border: 1px solid #5d8ffc;
    cursor: pointer;
}
form button:disabled{
    background: #8eb1ff;
    color: #fff;
    border: 1px solid #8eb1ff;
    cursor: not-allowed;
}
.card-header{
    font-weight: 500;
}
.card ul li{
    font-size: 20px;
}
.card-body ul li span{
    font-weight: 400;
}
.card-body ul li{
    list-style: square;
    margin-bottom: 10px;
}
.course-detail{
    display: block;
    margin: 15px;
    /* border: 1px solid salmon; */
    /* margin-right: 15px; */
}
.course-info, .student-manage{
    /* padding-right: 50px; */
    padding-left: 0px;
    margin-right: 20px;
    display: block;
    width: 100%;
    /* border: 1px solid salmon; */
}
.course-info .card, .student-manage .card{
    display: block;
    /* margin: 15px; */
    width: 100%;
    /* border: 1px solid salmon; */
}
/* .student-manage{
    margin-right: 20px;
} */
.student-manage .card form{
    margin: 20px;
}
.student-manage input{
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    outline: none;
    margin-bottom: 15px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.display .display-student{
    /* display: flex; */
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 15px;
}
.course-info .card .card-header button{
    margin-left: 20px;
}
.display .display-student .table .thead-light tr th#studentName{
    display: none;
}
.display .display-student .table tbody tr td#studentName{
    display: none;
}

/*Media***********************************************************************************/
@media(min-width: 900px){
    .course{
        font-family: 'Nunito', sans-serif;
        display: flex;
        padding: 0;
        /* border: 1px solid #5d8ffc; */
    }
    .card{
        margin: 20px;
        width: 60%;
        display: block;
        border: 1px solid #ccdcff;
        border-radius: 10px;
    }
    .table{
        margin: 15px;
        width: 100%;
    }
    .card .card-header{
        /* font-family: 'Nunito', sans-serif; */
        background: #ccdcff;
        font-size: 20px;
    }
    form #id, #name, #group, #semester, #year{
        font-family: 'Nunito', sans-serif;
        display: block;
        border: 1px solid #ccc;
        border-radius: 5px;
        background: #fff;
        padding: 15px;
        outline: none;
        width: 100%;
        margin-bottom: 20px;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
    }
    form label{
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
    }
    form #id:focus{
        border: 1px solid #888;
    }
    form #name:focus{
        border: 1px solid #888;
    }
    form #group:focus{
        border: 1px solid #888;
    }
    form #semester:focus{
        border: 1px solid #888;
    }
    form #year:focus{
        border: 1px solid #888;
    }
    
    form button{
        background: #5d8ffc;
        border: 1px solid #5d8ffc;
        color: #fff;
        border: 0px;
        font-size: 20px;
        border-radius: 5px;
        padding: 15px;
        display: block;
        width: 100%;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        font-weight: 600px;
    }
    form button:hover{
        background: #fff;
        color: #5d8ffc;
        border: 1px solid #5d8ffc;
        cursor: pointer;
    }
    form button:disabled{
        background: #8eb1ff;
        color: #fff;
        border: 1px solid #8eb1ff;
        cursor: not-allowed;
    }
    .card-header{
        font-weight: 500;
    }
    .card ul li{
        font-size: 20px;
    }
    .card-body ul li span{
        font-weight: 400;
    }
    .card-body ul li{
        list-style: square;
        margin-bottom: 17px;
    }

    .course-detail{
        display: flex;
        /* margin-right: 15px; */
    }
    .course-info, .student-manage{
        margin: 0;
        display: flex;
        width: 100%;
        /* border: 1px solid salmon; */
    }
    .course-info .card, .student-manage .card{
        width: 100%;
    }
    .student-manage input{
        width: 100%;
        display: block;
        border: 1px solid #ccc;
        border-radius: 5px;
        background: #fff;
        padding: 10px;
        outline: none;
        margin-bottom: 15px;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
    }

    .display .display-student{
        display: flex;
        font-family: 'Nunito', sans-serif;
        padding: 0;
    }
    .course-info .card .card-header button{
        margin-left: 20px;
    }
    .display .display-student .table .thead-light tr th#studentName{
        display: block;
    }
    .display .display-student .table tbody tr td#studentName{
        display: block;
    }
}